    * {
        box-sizing: border-box;
    }
        h1 {
        margin: 100px;
        text-align: center;
        font-family: Times New Roman;
        font-weight: bold;
        font-size: 200%;
    }
    body {
        background-color: white;
    }

    section {
        position: relative;
        padding: 15px;
        width: 150%;
    }
    div {
        position: relative;
        background-color: gray;
        border: 2px solid black;
        width: 100%;
    }
    p {
        position: relative;
        clear: right;
    }

    .sec {
        float: right;
        width: 200px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 120%;
        font-weight: bold;
        background-color: #B0D619; 
    }

    .description {
        padding: 5px;
        border: 10px;
        background-color: #BF7F3F;
        font-family: Times New Roman;
        color: black;
        margin: 0px;
        height: 200px;
        overflow: auto;
    }

    .row {
        width: 100%;
    }
    
    
    
    /*Desktop*/
    @media (min-width: 992px){
        .col-4 {
            float: left;
            width: 33.33%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*Tablet*/
    @media (min-width: 768px) and (max-width: 991px){
        .col-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        .col-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*Mobile*/
    @media (max-width: 767px){
        .col-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }